endpoint:
  permit-all:
    get:
    post: /api/v1/mentees, /api/v1/mentors
    put:
    patch: /api/v1/mentees/*
    delete:
  roles:
    - matcher:
        get: /api/v1/mentors/*
        post:
        put:
        patch:
        delete:
      role: user
    - matcher:
        get: /api/v1/mentors/*
        post: /api/v1/events
        put:
        patch: /api/v1/events/*, /api/v1/events/*/mentee/*
        delete:
      role: mentor
