<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="card-body">
    <div style="background-color: rgb(32, 32, 32); color: rgb(33, 255, 144); padding: 1em; border-radius: 1em">
        <h4><span th:text="${mentorNickname}"></span> 멘토님의 첨삭 이벤트가 등록되었습니다! 확인하러 GOGO~ </h4>
    </div>
</div>
<h4><a th:href="${link}">첨삭 이벤트 정보 보러가기!</a></h4>
</body>
</html>
