<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="card-body">
    <div style="background-color: rgb(32, 32, 32); color: rgb(33, 255, 144); padding: 1em; border-radius: 1em">
        <h4> 이력, 써의 멘토가 되어주셔서 감사합니다! </h4>
    </div>
</div>
<h4><a th:href="${link}">이력, 써 가서 첨삭 이벤트 열기 !</a></h4>
</body>
</html>
